@model IEnumerable<ClothersShop.Models.Product>

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    <h1><img src="http://icons.iconarchive.com/icons/hopstarter/button/32/Button-Add-icon.png" title="Tiêu đề ảnh"> @Html.ActionLink("Thêm Sản Phẩm", "Create")</h1>
</p>
@using (Html.BeginForm("Index", "ProductCategories", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-12">
            <div class="col-md-4">
                <input type="text" name="searchString" style="margin-left:52%" />
            </div>
            <div class="col-md-4">
                <button type="submit">Tìm kiếm</button>
            </div>
        </div>
    </div>
}
<div class="container">
    <table class="table">
        <tr>
            <th>
                Hình ảnh
            </th>
            <th>
                Tên
            </th>
            <th>
                Giá
            </th>
            <th>
                Giá khuyến mãi
            </th>
            <th>
               Số lượng
            </th>
            <th>
                Loại sản phẩm
            </th>
            <th>
                Thời gian bảo hành(tháng)
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Người tạo
            </th>
            <th>
                Ngày chỉnh sửa
            </th>
            <th>
                Người chỉnh sửa
            </th>
            <th>
                Trạng thái
            </th>
            <th>
                Top
            </th>
            <th>
                Lượt xem
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr id="row_@item.ID">
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warranty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiledBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopHot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
               @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
          {
              Confirm = "Bạn có chắc chắn xóa",
              OnComplete = "$('#row_" + @item.ID + "').remove()",
              HttpMethod = "Delete"
          })
            </td>
        </tr>
    }
    
    </table>
</div>
