@model IEnumerable<ClothersShop.Models.Slide>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <h1><img src="http://icons.iconarchive.com/icons/hopstarter/button/32/Button-Add-icon.png" title="Tiêu đề ảnh"> @Html.ActionLink("Thêm Sản Phẩm", "Create")</h1>
</p>
<div class="container">
    <table class="table table-bordered">
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiledBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="info">
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Image)" width="100" height="60" />
  </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiledDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiledBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <button class="btn btn-info">@Html.ActionLink("Sửa", "Edit", new { id = item.ID }) </button><hr />
                    <button class="btn btn-success">@Html.ActionLink("Chi Tiết", "Details", new { id = item.ID })  </button><hr />
                    <button class="btn btn-danger"> @Html.ActionLink("Xoá", "Delete", new { id = item.ID })</button>

                </td>
            </tr>
        }

    </table>
    </div>