
@model PagedList.PagedList<ClothersShop.Models.Product>
@using PagedList.Mvc;

<div class="container">
    <div class="row no-margin widgets-row">

        <div class="content">
            <tr class="info">
                <div class="content_top">
                    <div class="heading">
                        <h1><li>Kết quả tìm kiếm theo từ khoá: @ViewBag.Keyword<br /></li></h1>
                        <p></p>
                        
                    </div>
                    <div class="see">
                       <button class="btn btn-default" style="text-align: center"> <p><a href="/san-pham"><b>Xem tất cả sản phẩm</b></a></p></button>
                    </div><hr>
                    <div class="clear"></div>
                </div>
            </tr>
            <div class="product-grid-holder">
                <div id="spnoibat">
                    @if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                            <div class="product-grid-holder">
                                <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                    <div class="product-item">
                                        <div class="ribbon blue"><span>new!</span></div>
                                        @if (item.TopHot != null)
                                        {<div class="ribbon red"><span>HOT!</span></div>}
                                        @if (item.PromotionPrice != null)
                                        {<div class="ribbon green"><span>ON SALE!</span></div>}


                                        <div class="grid_1_of_4 /Content/Client/images_1_of_4">
                                            <a href="@url"><img src="@item.Image" alt="@item.Name" width="220" height="220" /></a>
                                            <h2>Tên Sản phẩm: @item.Name </h2>
                                            <div class="prices">
                                                @if (item.PromotionPrice != null)
                                                {
                                                    <div class="price-current">Giá tiền: @string.Format("{0:0,0}", item.PromotionPrice) VNĐ</div>
                                                        <div class="price-prev"><strike>@string.Format("{0:0,0}", item.Price)</strike> </div>
                                                }
                                                else
                                                {
                                                    <div class="price-current">Giá tiền: @string.Format("{0:0,0}", item.Price) VNĐ</div>
                                                }
                                            </div>



                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <h4><a href="/them-gio-hang?productId=@item.ID&quantity=1" class="le-button">Thêm vào giỏ</a></h4>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        }
                        <div class="clear"></div>
                             <!--Phân trang-->
                       
                  
                    }
                    else
                    {
                        <span>Không có kết quả nào được tìm thấy!</span>
                    }

                </div>
            </div>
            
            <div class="clear"></div>
            <div class="nav-pagination">
                <div class='wp-pagenavi'>
                    @Html.PagedListPager(Model, pageIndex => Url.Action("Search", new { pageIndex }))
                </div>
            </div>
        </div>
    </div>
</div>
    
