@using Microsoft.AspNet.Identity
@using ClothersShop.Common
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        var sess = (UserLogin)Session[CommonConstans.USER_SESSION];

        <ul class="nav navbar-nav navbar-right">
            @if (sess == null)
                    {
                <li>
                    @Html.ActionLink("Xin chào " + User.Identity.GetUserName() + "!  |", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink("Xin chào " + sess.Name + " !  |", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
            }
            <li><img src="~/Content/images/logout.png"  title="Tiêu đề ảnh"><a href="javascript:document.getElementById('logoutForm').submit()">Đăng Xuất</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <button class="btn btn-info">
           <img src="~/Content/images/signup.png" title="Tiêu đề ảnh">@Html.ActionLink("ĐĂNG KÝ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </button>
        <button class="btn btn-info"><img src="~/Content/images/login.png" title="Tiêu đề ảnh">@Html.ActionLink("ĐĂNG NHẬP", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </button>
</ul>
}
