@using Microsoft.AspNet.Identity
@using ClothersShop.Models
@using ClothersShop.Common
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        var sess = (UserLogin)Session[CommonConstans.USER_SESSION];
        var user = new ApplicationDbContext();
        string email = User.Identity.GetUserName();
        var model = user.Users.SingleOrDefault(x => x.UserName == email);
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                    <img class="nav-user-photo" src="~/assets/admin/images/avatars/avatar.gif" height="40px" width="40px" alt="avatar">
                    <span class="user-info">
                       @(model.FullName)
                    </span>

                    
                   


            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                @try
                    {
                        if (model.Roles.SingleOrDefault(x => x.UserId == User.Identity.GetUserId()).RoleId == "1")
                        {
                        <li><a href="/Admin/Home/Index" style="color:forestgreen;font-weight:900">Trang quản trị</a></li>
                        <li><div style="color:forestgreen;font-weight:900">@Html.ActionLink("Trang Cá Nhân", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</div></li>
                            <li role="separator" class="divider"></li>
                    }
                   
                }
                catch
                {
                <li><div style="color:forestgreen;font-weight:900">@Html.ActionLink("Trang Cá Nhân", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</div></li>
                <li role="separator" class="divider"></li>
                }
            </ul>
            </li>

            <li><img src="~/Content/images/logout.png" title="Tiêu đề ảnh"><a href="javascript:document.getElementById('logoutForm').submit()">Đăng Xuất</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        
        <button class="btn btn-info">
           <img src="~/Content/images/signup.png" title="Tiêu đề ảnh">@Html.ActionLink("ĐĂNG KÝ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </button>
        <button class="btn btn-info"><img src="~/Content/images/login.png" title="Tiêu đề ảnh">@Html.ActionLink("ĐĂNG NHẬP", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </button>
</ul>
}
