@using ClothersShop.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                

                <div class="container">
                    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="text-center">
                                    <div class="panel-title"><h3>Đăng Nhập</h3></div>
                                </div>
                                </div>
                            <font color="red">
                                <h2>
                                    @Html.ValidationMessage("CustomError")
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </h2>
                            </font>
                                <div style="padding-top:30px" class="panel-body">
                                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                                    <form id="loginform" class="form-horizontal" role="form">
                                        <div style="margin-bottom: 25px" class="input-group">

                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div style="margin-bottom: 25px" class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <div class="checkbox">
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    @Html.LabelFor(m => m.RememberMe)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <input type="submit" value="ĐĂNG NHẬP" class="btn btn-success" />
                                        </div><br /><br />

                                        <div class="row">
                                            <div class="col-md-6">
                                                <button class="btn-block btn-lg btn btn-facebook"><i class="fa fa-facebook"></i> Sign In with Facebook</button>
                                            </div>
                                            <div class="col-md-6">
                                                <button class="btn-block btn-lg btn btn-twitter"><i class="fa fa-twitter"></i> Sign In with Twitter</button>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="col-md-12 control">
                                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                                    <h2>Chưa có tài khoản?</h2>
                                                    <button class="btn btn-block">
                                                        @Html.ActionLink("Đăng ký tài khoản mới", "Register")
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                    </div>
                        </div>
            }
        </section>

            </div>
    </div>

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
