
@{
    ViewBag.Title = "Trang chủ";
   
    var NewProduct = (List<ClothersShop.Models.Product>)ViewBag.ListNewProduct;
    var FeatureProduct = (List<ClothersShop.Models.Product>)ViewBag.ListFeatureProduct;
    var RelatedProduct = (List<ClothersShop.Models.Product>)ViewBag.ListRelatedProduct;
}


    @{Html.RenderAction("Slide", "Home");}


<div id="products-tab" class="wow fadeInUp">
    <div class="container">

        <div class="tab-holder">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">

                <li class="active"><a href="#featured" data-toggle="tab">Mới Nhập</a></li>
                <li><a href="#new-arrivals" data-toggle="tab">Nổi Bật</a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="featured">
                    <div class="product-grid-holder">
                        <div id="spnoibat">
                            @foreach (var item in NewProduct)
                            {
                                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                                <div class="product-grid-holder">
                                    <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                        <div class="product-item">
                                            <div class="ribbon blue"><span>new!</span></div>
                                            @if (item.TopHot != null)
                                            {<div class="ribbon red"><span>HOT!</span></div>}
                                            @if (item.PromotionPrice != null)
                {<div class="ribbon green"><span>ON SALE!</span></div>}
                                           

                                            <div class="grid_1_of_4 /Content/Client/images_1_of_4">
                                                <a href="@url"><img src="@item.Image" alt="@item.Name" width="220" height="220" /></a>
                                                <h2> @item.Name </h2>
                                                <div class="prices">
                                                    @if (item.PromotionPrice != null)
                                                    {
                                                        <div class="price-current">Giá tiền: @string.Format("{0:0,0}", item.PromotionPrice) VNĐ</div>
                                                        <div class="price-prev"><strike>@string.Format("{0:0,0}", item.Price)</strike> </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="price-current">Giá tiền: @string.Format("{0:0,0}", item.Price) VNĐ</div>
                                                    }
                                                </div>



                                                <div class="hover-area">
                                                    <div class="add-cart-button">
                                                        <h4><a href="/them-gio-hang?productId=@item.ID&quantity=1" class="le-button">Thêm vào giỏ</a></h4>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>


                            }
                        </div>
                    </div>
                    <div class="loadmore-holder text-center">
                        <div id="sphotlink">
                            <a class="btn-loadmore" href="/" )'>
                                <i class="fa fa-plus"></i>
                                Tải thêm
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="new-arrivals">
                    <div class="product-grid-holder">
                        <div id="spnoibat">
                            @foreach (var item in FeatureProduct)
                            {
                                var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                                <div class="product-grid-holder">
                                    

                                    <div class="col-sm-4 col-md-3  no-margin product-item-holder hover">
                                        <div class="product-item">
                                            @if (item.TopHot != null)
                                            {<div class="ribbon red"><span>HOT!</span></div>}
                                            <div class="ribbon blue"><span>new!</span></div>
                                            @if (item.PromotionPrice != null)
                {<div class="ribbon green"><span>ON SALE!</span></div>}
                                           
                                            <div class="grid_1_of_4 /Content/Client/images_1_of_4">
                                                <a href="@url"><img src="@item.Image" alt="@item.Name" width="220" height="220"/></a>
                                                <h2> @item.Name </h2>
                                                <div class="prices">
                                                    <div class="price-current">Giá tiền: @string.Format("{0:0,0}", item.Price) VNĐ</div>
                                                    @if (item.Price != item.PromotionPrice)
                                                    {<div class="price-prev"><strike>@string.Format("{0:0,0}", item.PromotionPrice)</strike> </div>}
                                                </div>

                                                <div class="hover-area">
                                                    <div class="add-cart-button">
                                                        <h4><a href="/them-gio-hang?productId=@item.ID&quantity=1" class="le-button">Thêm vào giỏ</a></h4>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                    <div class="loadmore-holder text-center">
                        <div id="spmoilink">
                            <a class="btn-loadmore" href="/" )'>
                                <i class="fa fa-plus"></i>
                                Tải thêm
                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


